# ===============================
# NODE MODULES
# ===============================

node_modules

# ===============================
# ENV
# ===============================

.env
.env.local
.env.production
.env.development

# ===============================
# LOGS
# ===============================

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# BUILD
# ===============================

dist
build

# ===============================
# OS FILES
# ===============================

.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================

.vscode
.idea

# ===============================
# PRISMA
# ===============================

prisma/dev.db
prisma/dev.db-journal

# ===============================
# CACHE
# ===============================

.cache
.tmp
.temp

# ===============================
# TEST
# ===============================

coverage

# ===============================
# EXPO / REACT NATIVE
# ===============================

.expo
.expo-shared

# ===============================
# TYPESCRIPT
# ===============================

*.tsbuildinfo